<div class="content">
  <div class="section">
    <h2>URL Reference</h2>
    <label>http://api1-ats-test-3.apps.dev-kubernetes.os.imcc.com</label><br/>
    <label>http://api1_ats-test-3_svc_8080.mesh</label><br/>
    <br/>
    <label>http://api2-ats-test-3.apps.dev-kubernetes.os.imcc.com</label><br/>
    <label>http://api2_ats-test-3_svc_8080.mesh</label><br/>
    <br/>
    <label>http://google.com</label>
  </div>
  <div class="section">
    <h2>API1 URL</h2>
    <div class="section">
      <input type="text" [(ngModel)]="selectInput">
    </div>
  </div>

  <div class="section">
    <button (click)="callHome()">{{selectInput}}/</button>
    <label>{{home}}</label>
  </div>
  <div class="section">
    <button (click)="callApi1()">{{selectInput}}/api1</button>
    <label>{{api1}}</label>
  </div>
  <div class="section">
    <button (click)="callRemoteDemo()">{{selectInput }}/remote</button>
    <label>{{remoteDemo}}</label>
  </div>
  <div class="section">
    <input type="text" [(ngModel)]="input2">
    <button (click)="callRemote2Demo()">{{selectInput}}/remote2?uri={{input2}}</button>
    <label>{{remoteDemo2}}</label>
  </div>

  <div class="section">
    <h2>API2 URL</h2>
    <div class="section">
      <input type="text" [(ngModel)]="selectInput2">
    </div>
  </div>

  <div class="section">
    <button (click)="callHome2()">{{selectInput2}}/</button>
    <label>{{home2}}</label>
  </div>
  <div class="section">
    <button (click)="callApi2()">{{selectInput2}}/api2</button>
    <label>{{api2}}</label>
  </div>
  <div class="section">
    <input type="text"  [(ngModel)]="input">
    <button (click)="callTest()">{{selectInput2}}/test?uri={{input}}</button>
    <label>{{test}}</label>
  </div>
</div>
